In [73]:
import pandas as pd
import numpy as np
from scipy import interpolate
max_length = 100

In [74]:
df = pd.read_csv('./data/all.csv')

In [75]:
df.tail()

,x,y,z,class,seg,suspicious
266550,-941,174,337,clean,clean/庆喜/repeat_82-duration_60.csv-1584-1628,False
266551,-942,173,314,clean,clean/庆喜/repeat_82-duration_60.csv-1584-1628,False
266552,-916,158,310,clean,clean/庆喜/repeat_82-duration_60.csv-1584-1628,False
266553,-898,145,304,clean,clean/庆喜/repeat_82-duration_60.csv-1584-1628,False
266554,-891,132,295,clean,clean/庆喜/repeat_82-duration_60.csv-1584-1628,False

In [76]:
segs = df.seg.unique()

In [77]:
len(segs)

5026

In [78]:
cols = df.columns.values

In [79]:
cols

array(['x', 'y', 'z', 'class', 'seg', 'suspicious'], dtype=object)

In [80]:
row_num = max_length*len(segs)

In [82]:
row_num

502600

In [83]:
np.zeros((row_num,6))

array([[ 0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.]])

In [84]:
new_df = pd.DataFrame(data=np.zeros((row_num,6)), columns=cols)

In [85]:
new_df.tail()

          x    y    z  class  seg  suspicious
502595  0.0  0.0  0.0    0.0  0.0         0.0
502596  0.0  0.0  0.0    0.0  0.0         0.0
502597  0.0  0.0  0.0    0.0  0.0         0.0
502598  0.0  0.0  0.0    0.0  0.0         0.0
502599  0.0  0.0  0.0    0.0  0.0         0.0

In [86]:
seg = segs[0]

In [87]:
seg

'walk/863137003295439_walk_L_2017-07-25 17-39-00_2017-07-25 17-49-00.csv-31-98'

In [88]:
seg_df = df[df['seg'] ==seg]

In [89]:
seg_df.head()

,x,y,z,class,seg,suspicious
0,20,781,-507,walk,walk/863137003295439_walk_L_2017-07-25 17-39-0...,False
1,40,797,-492,walk,walk/863137003295439_walk_L_2017-07-25 17-39-0...,False
2,59,807,-502,walk,walk/863137003295439_walk_L_2017-07-25 17-39-0...,False
3,75,807,-527,walk,walk/863137003295439_walk_L_2017-07-25 17-39-0...,False
4,107,806,-560,walk,walk/863137003295439_walk_L_2017-07-25 17-39-0...,False

In [107]:
seg_df.iloc[0:5, 4]

0    walk/863137003295439_walk_L_2017-07-25 17-39-0...
1    walk/863137003295439_walk_L_2017-07-25 17-39-0...
2    walk/863137003295439_walk_L_2017-07-25 17-39-0...
3    walk/863137003295439_walk_L_2017-07-25 17-39-0...
4    walk/863137003295439_walk_L_2017-07-25 17-39-0...
Name: seg, dtype: object

In [91]:
raw_x = seg_df['x'].values
raw_y = seg_df['y'].values
raw_z = seg_df['z'].values
raw_index = np.linspace(0, max_length, raw_x.size)

f_x = interpolate.interp1d(raw_index, raw_x, kind='cubic')
f_y = interpolate.interp1d(raw_index, raw_y, kind='cubic')
f_z = interpolate.interp1d(raw_index, raw_z, kind='cubic')

new_index = np.arange(max_length)
new_x = f_x(new_index)
new_y = f_y(new_index)
new_z = f_z(new_index)

In [92]:
len(new_x)

100

In [93]:
new_x[0]

20.0

In [99]:
# for ind in range(max_length):
#     new_df.loc[ind+max_length, 'x'] = new_x[ind]
#     new_df.loc[ind+max_length, 'y'] = new_y[ind]
#     new_df.loc[ind+max_length, 'z'] = new_z[ind]
#     new_df.loc[ind+max_length, 'class'] = seg_df.iloc[0, 3]
#     new_df.loc[ind+max_length, 'seg'] = seg
#     new_df.loc[ind+max_length, 'suspicious'] = seg_df.iloc[0, 5]

new_df.iloc[0:max_length, 0] = new_x
new_df.iloc[0:max_length, 1] = new_y
new_df.iloc[0:max_length, 2] = new_z
new_df.iloc[0:max_length, 3] = seg_df.iloc[0, 3]
new_df.iloc[0:max_length, 4] = seg
new_df.iloc[0:max_length, 5] = seg_df.iloc[0, 5]

In [104]:
new_df[98:102]

,x,y,z,class,seg,suspicious
98,-95.786329,843.487729,-495.611099,walk,walk/863137003295439_walk_L_2017-07-25 17-39-0...,False
99,-95.987008,842.857205,-498.128814,walk,walk/863137003295439_walk_L_2017-07-25 17-39-0...,False
100,0.000000,0.000000,0.000000,0,0,0
101,0.000000,0.000000,0.000000,0,0,0

In [102]:
segs[1:10]

array([ 'walk/863137003295439_walk_L_2017-07-25 17-39-00_2017-07-25 17-49-00.csv-112-154',
       'walk/863137003295439_walk_L_2017-07-25 17-39-00_2017-07-25 17-49-00.csv-366-407',
       'walk/863137003295439_walk_L_2017-07-25 17-39-00_2017-07-25 17-49-00.csv-427-494',
       'walk/863137003295439_walk_L_2017-07-25 17-39-00_2017-07-25 17-49-00.csv-497-539',
       'walk/863137003295439_walk_L_2017-07-25 17-39-00_2017-07-25 17-49-00.csv-701-770',
       'walk/863137003295439_walk_L_2017-07-25 17-39-00_2017-07-25 17-49-00.csv-812-884',
       'walk/863137003295439_walk_L_2017-07-25 17-39-00_2017-07-25 17-49-00.csv-895-969',
       'walk/863137003295439_walk_L_2017-07-25 17-39-00_2017-07-25 17-49-00.csv-971-1023',
       'walk/863137003295439_walk_L_2017-07-25 17-39-00_2017-07-25 17-49-00.csv-1050-1103'], dtype=object)

In [112]:
seg_num = 1
for seg in segs[1:100]:
    seg_df = df[df['seg'] == seg]

    raw_x = seg_df['x'].values
    raw_y = seg_df['y'].values
    raw_z = seg_df['z'].values
    raw_index = np.linspace(0, max_length, raw_x.size)

    f_x = interpolate.interp1d(raw_index, raw_x, kind='cubic')
    f_y = interpolate.interp1d(raw_index, raw_y, kind='cubic')
    f_z = interpolate.interp1d(raw_index, raw_z, kind='cubic')

    new_index = np.arange(max_length)
    new_x = f_x(new_index)
    new_y = f_y(new_index)
    new_z = f_z(new_index)
    
    new_df.iloc[seg_num*max_length : (seg_num+1)*max_length, 0] = new_x
    new_df.iloc[seg_num*max_length : (seg_num+1)*max_length, 1] = new_y
    new_df.iloc[seg_num*max_length : (seg_num+1)*max_length, 2] = new_z
    new_df.iloc[seg_num*max_length : (seg_num+1)*max_length, 3] = seg_df.iloc[0, 3]
    new_df.iloc[seg_num*max_length : (seg_num+1)*max_length, 4] = seg
    new_df.iloc[seg_num*max_length : (seg_num+1)*max_length, 5] = seg_df.iloc[0, 5]
    
    seg_num += 1

In [114]:
new_df[9998:10002]

,x,y,z,class,seg,suspicious
9998,250.903073,183.52975,829.332408,bweep,bweep/大扫帚扫地/大扫帚扫右手（现场部署）/863137003297617_2017-...,False
9999,317.572902,167.90079,749.802360,bweep,bweep/大扫帚扫地/大扫帚扫右手（现场部署）/863137003297617_2017-...,False
10000,0.000000,0.00000,0.000000,0,0,0
10001,0.000000,0.00000,0.000000,0,0,0