In [140]:
%matplotlib inline
import pandas as pd
import numpy as np
from scipy import interpolate
import operator
import matplotlib.pyplot as plt

In [141]:
train_df = pd.read_csv('./data/processed_data/part/train.csv')
test_df = pd.read_csv('./data/processed_data/part/test.csv')

In [142]:
train_df.shape

(563, 232)

In [143]:
test_df.shape

(284, 232)

In [144]:
train_data = train_df.drop('label',axis=1)
test_data = test_df.drop('label',axis=1)

In [145]:
train_data.shape

(563, 231)

In [146]:
test_data.shape

(284, 231)

In [147]:
train_data.head()

,0,1,2,3,4,5,6,7,8,9,...,221,222,223,224,225,226,227,228,229,230
0,-928.0,-844.514735,-824.543584,-857.569079,-932.881068,-1038.578795,-1162.177038,-1285.717013,-1339.828070,-1278.007596,...,84.456627,35.672646,14.309915,25.061944,50.071496,60.997829,30.138212,-23.281147,-59.193636,-53.082335
1,-986.0,-910.489718,-866.201614,-858.734480,-890.485907,-944.596209,-1040.090839,-1250.221344,-1437.671249,-1444.372524,...,68.223534,16.033962,-10.814951,-5.308038,21.924225,41.694235,10.009632,-55.384323,-111.553759,-144.264412
2,-1045.0,-985.347196,-957.772749,-950.061376,-950.002592,-947.527711,-938.070080,-917.296693,-879.821395,-841.480227,...,-43.450380,-60.170124,-73.670954,-83.541400,-91.288493,-99.095146,-106.146905,-110.306280,-110.208527,-104.793067
3,-951.0,-948.333491,-929.123758,-899.585746,-865.922885,-829.196644,-777.499285,-736.116776,-810.860313,-1022.566534,...,-95.717937,-105.873429,-118.947386,-132.116261,-143.709773,-152.956880,-160.827013,-168.555462,-173.809463,-172.866264
4,-1081.0,-1043.788221,-1023.651705,-1001.255487,-957.304308,-890.236973,-843.907463,-841.828100,-850.794400,-880.474586,...,-75.112254,-98.683912,-135.222133,-161.786336,-175.666989,-185.446812,-193.110449,-196.469094,-187.462158,-155.753030

In [148]:
test_data.tail()

,0,1,2,3,4,5,6,7,8,9,...,221,222,223,224,225,226,227,228,229,230
279,85.0,96.881887,146.144831,195.633612,222.735887,146.041096,69.600045,42.453210,-148.404528,-368.438453,...,-149.206414,-212.274602,-264.598446,-313.524832,-488.128238,-796.087016,-910.690846,-974.186202,-888.592597,-506.956247
280,-414.0,-537.347927,-615.208640,-658.917606,-814.803151,-970.400190,-1159.641662,-1380.026706,-1629.301120,-1678.989720,...,-826.179104,-818.811284,-717.520013,-643.766188,-641.447658,-733.350927,-816.864324,-746.614780,-688.470240,-659.704990
281,-438.0,-443.567965,-447.168397,-471.845621,-517.375689,-532.082603,-537.278369,-565.066637,-608.868271,-775.432326,...,161.936399,163.649334,157.005324,147.081019,143.674870,140.530046,137.352002,131.891412,112.511662,88.098025
282,276.0,134.512004,27.321729,-29.042616,-19.069287,49.374804,142.629322,205.000000,194.094353,163.754130,...,576.306741,600.427329,631.773550,645.000000,614.290352,558.160432,497.208927,434.586498,374.059089,322.025747
283,-870.0,-941.455356,-974.448983,-982.845777,-980.504526,-978.557464,-981.118853,-989.837880,-1003.486873,-1015.934869,...,283.783652,255.243958,233.820334,214.724634,198.085222,186.955530,183.688402,189.020321,195.728945,193.496930

In [175]:
train_labels = train_df['label']
test_labels = test_df['label']

In [178]:
test_labels.tail()

279    dump
280    dump
281    dump
282    dump
283    dump
Name: label, dtype: object

In [151]:
train_len = train_data.shape[0]

In [152]:
train_len

563

In [153]:
testMat = np.tile(test_data.iloc[0], (train_len,1))

In [154]:
testMat.shape

(563, 231)

In [155]:
testMat[:5]

array([[ -575.        ,  -606.35680944,  -521.69592161, ...,
          987.71906017,  1027.78238151,  1061.79609381],
       [ -575.        ,  -606.35680944,  -521.69592161, ...,
          987.71906017,  1027.78238151,  1061.79609381],
       [ -575.        ,  -606.35680944,  -521.69592161, ...,
          987.71906017,  1027.78238151,  1061.79609381],
       [ -575.        ,  -606.35680944,  -521.69592161, ...,
          987.71906017,  1027.78238151,  1061.79609381],
       [ -575.        ,  -606.35680944,  -521.69592161, ...,
          987.71906017,  1027.78238151,  1061.79609381]])

In [156]:
diffMat = testMat - train_data

In [157]:
diffMat.head()

,0,1,2,3,4,5,6,7,8,9,...,221,222,223,224,225,226,227,228,229,230
0,353.0,238.157925,302.847662,469.092489,659.352221,832.649245,1004.990652,1170.133763,1249.493833,1196.633101,...,680.772652,773.207871,830.864750,844.547832,835.781828,848.897334,916.250159,1011.000207,1086.976018,1114.878429
1,411.0,304.132909,344.505692,470.257890,616.957059,738.666658,882.904453,1134.638094,1347.337012,1362.998030,...,697.005745,792.846555,855.989616,874.917814,863.929099,868.200929,936.378738,1043.103383,1139.336141,1206.060506
2,470.0,378.990387,436.076827,561.584786,676.473745,741.598161,780.883694,801.713443,789.487158,760.105733,...,808.679659,869.050641,918.845619,953.151177,977.141817,1008.990310,1052.535275,1098.025340,1137.990909,1166.589161
3,376.0,341.976681,407.427836,511.109156,592.394037,623.267094,620.312898,620.533526,720.526076,941.192039,...,860.947216,914.753946,964.122051,1001.726037,1029.563097,1062.852044,1107.215383,1156.274522,1201.591845,1234.662358
4,506.0,437.431412,501.955784,612.778898,683.775460,684.307422,686.721076,726.244850,760.460163,799.100092,...,840.341533,907.564429,980.396798,1031.396112,1061.520313,1095.341976,1139.498820,1184.188154,1215.244540,1217.549124

In [158]:
sqDiffMat = diffMat**2

In [159]:
sqDiffMat.head()

,0,1,2,3,4,5,6,7,8,9,...,221,222,223,224,225,226,227,228,229,230
0,124609.0,56719.197418,91716.706646,220047.763348,434745.351016,693304.764975,1.010006e+06,1.369213e+06,1.561235e+06,1.431931e+06,...,463451.403458,597850.411479,690336.232532,7.132610e+05,6.985313e+05,7.206267e+05,8.395144e+05,1.022121e+06,1.181517e+06,1.242954e+06
1,168921.0,92496.826305,118684.171897,221142.483008,380636.013132,545628.432214,7.795203e+05,1.287404e+06,1.815317e+06,1.857764e+06,...,485817.008461,628605.659382,732718.222961,7.654812e+05,7.463735e+05,7.537729e+05,8.768051e+05,1.088065e+06,1.298087e+06,1.454582e+06
2,220900.0,143633.713448,190162.999365,315377.472326,457616.727137,549967.832544,6.097793e+05,6.427444e+05,6.232900e+05,5.777607e+05,...,653962.790700,755249.016338,844277.271747,9.084972e+05,9.548061e+05,1.018061e+06,1.107831e+06,1.205660e+06,1.295023e+06,1.360930e+06
3,141376.0,116948.050657,165997.441887,261232.569146,350930.695487,388461.870050,3.847881e+05,3.850619e+05,5.191578e+05,8.858425e+05,...,741230.109357,836774.781028,929531.328490,1.003455e+06,1.060000e+06,1.129654e+06,1.225926e+06,1.336971e+06,1.443823e+06,1.524391e+06
4,256036.0,191346.239933,251959.608963,375497.977360,467548.879758,468276.648394,4.715858e+05,5.274316e+05,5.782997e+05,6.385610e+05,...,706173.892007,823673.192819,961177.881960,1.063778e+06,1.126825e+06,1.199774e+06,1.298458e+06,1.402302e+06,1.476819e+06,1.482426e+06

In [160]:
sqDistances = sqDiffMat.sum(axis=1)

In [161]:
sqDistances.tail()

558    1.205792e+08
559    1.585986e+08
560    1.018017e+08
561    1.041105e+08
562    1.061657e+08
dtype: float64

In [162]:
distances = sqDistances**0.5

In [163]:
distances.tail()

558    10980.855008
559    12593.592673
560    10089.683612
561    10203.453952
562    10303.673281
dtype: float64

In [164]:
sortedDistIndicies = distances.argsort()

In [165]:
type(sortedDistIndicies)

pandas.core.series.Series

In [166]:
sortedDistIndicies.head()

0    218
1    216
2    219
3    200
4    206
dtype: int64

In [167]:
classCount={} 
for i in range(5):  
    voteIlabel = train_labels[sortedDistIndicies[i]]  
    classCount[voteIlabel] = classCount.get(voteIlabel,0) + 1
sortedClassCount = sorted(classCount.items(), key=operator.itemgetter(1), reverse=True)

In [168]:
sortedClassCount[0][0]

'bweep'

In [169]:
def classify(test_vector, train_data, train_labels, k):
    train_len = train_data.shape[0]
    testMat = np.tile(test_vector, (train_len,1))
    diffMat = testMat - train_data
    sqDiffMat = diffMat**2 
    sqDistances = sqDiffMat.sum(axis=1)
    distances = sqDistances**0.5
    sortedDistIndicies = distances.argsort()
    classCount={} 
    for i in range(k):  
        voteIlabel = train_labels[sortedDistIndicies[i]]  
        classCount[voteIlabel] = classCount.get(voteIlabel,0) + 1
    sortedClassCount = sorted(classCount.items(), key=operator.itemgetter(1), reverse=True)
    return sortedClassCount[0][0]

In [170]:
classify(test_data.iloc[256], train_data, train_labels, 5)

'dump'

In [172]:
test_len = test_data.shape[0]

In [173]:
test_len

284

In [174]:
range(test_len)

range(0, 284)

In [179]:
test_labels[10]

'bweep'

In [184]:
errorCount=0 
for i in range(test_len):
    classifierResult = classify(test_data.iloc[i], train_data, train_labels, 3)
    if (classifierResult != test_labels[i]): errorCount += 1.0
print("\nthe total number of errors is: %d" % errorCount)
print("\nthe total error rate is: %f" % (errorCount / float(test_len)))

the total number of errors is: 97

the total error rate is: 0.341549