In [200]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#from sklearn.cluster import KMeans
#from sklearn.cluster import DBSCAN
import sklearn.cluster as skc
from sklearn import metrics

In [233]:
df = pd.read_csv('./data/processed_data/part/sweep.csv')

In [234]:
df.head()

,label,0,1,2,3,4,5,6,7,8,...,221,222,223,224,225,226,227,228,229,230
0,sweep,-423.0,-334.170748,-338.802245,-411.530329,-529.169464,-681.818595,-850.719037,-1001.539872,-1186.204372,...,-93.702378,-204.064315,-270.404093,-264.014688,-221.910397,-199.052625,-231.006051,-288.278414,-322.939678,-333.244824
1,sweep,-463.0,-462.277151,-519.319142,-605.866016,-694.421988,-803.341514,-1016.091996,-1285.291011,-1441.406871,...,-487.752898,-424.236578,-323.866399,-235.039987,-187.174458,-165.520355,-168.709292,-211.295879,-293.218027,-404.499792
2,sweep,-328.0,-295.568061,-383.878898,-528.595205,-667.474314,-786.450316,-914.971561,-1044.000000,-1151.087950,...,-317.473221,-158.227920,-59.748949,-21.000000,5.165707,13.426359,-3.506649,-30.866209,-48.685259,-34.317465
3,sweep,-405.0,-394.468634,-388.390125,-372.906616,-334.251496,-299.410693,-399.486868,-680.049276,-975.342461,...,-344.232895,-272.851802,-223.613745,-213.547749,-239.002686,-284.735759,-341.065512,-398.327392,-429.634715,-401.394813
4,sweep,-342.0,-401.227388,-496.124800,-593.341514,-664.342475,-759.394350,-963.012352,-1181.644534,-1321.227140,...,-489.348915,-463.303253,-443.542651,-443.521540,-455.904121,-456.252424,-424.831198,-372.553178,-328.122595,-335.850083

In [235]:
labels = df['label']

In [236]:
labels.head()

0    sweep
1    sweep
2    sweep
3    sweep
4    sweep
Name: label, dtype: object

In [237]:
data = df.drop('label',axis=1)

In [238]:
data.shape

(304, 231)

### 1. KMeans

In [239]:
km = skc.KMeans(n_clusters=2)

In [240]:
km_labels = km.fit_predict(data)

In [241]:
type(km_labels)

numpy.ndarray

In [242]:
km_labels

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0])

In [243]:
km_df = pd.DataFrame(columns=('label','km_label'))

In [244]:
km_df

Empty DataFrame
Columns: [label, km_label]
Index: []

In [245]:
km_df['label']=labels

In [246]:
km_df['km_label'] = km_labels

In [247]:
km_df.head()

   label  km_label
0  sweep         0
1  sweep         0
2  sweep         0
3  sweep         0
4  sweep         0

In [248]:
km_df.to_csv('./data/processed_data/part/cluster/km_sweep.csv')

### 2. DBSCAN

In [302]:
db = skc.DBSCAN(eps=11000,min_samples=30).fit(data)

In [303]:
db_labels = db.labels_

##### 聚类效果

In [304]:
metrics.silhouette_score(data, db_labels)

0.53759475114944311

In [305]:
db_labels

array([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0], dtype=int64)

##### 聚类数量

In [306]:
set(db_labels)

{-1, 0}

In [307]:
n_db_clusters = len(set(db_labels)) - (1 if -1 in db_labels else 0)

In [308]:
n_db_clusters

1

##### 噪声点比例

In [309]:
db_labels[db_labels[:]==-1]

array([-1, -1], dtype=int64)

In [310]:
noise_radio = len( db_labels[db_labels[:]==-1] ) / len(db_labels)

In [311]:
noise_radio

0.006578947368421052

In [312]:
new_df = df[db_labels==-1]

In [313]:
new_df.shape[0]/df.shape[0]

0.006578947368421052

In [314]:
new_df

,label,0,1,2,3,4,5,6,7,8,...,221,222,223,224,225,226,227,228,229,230
181,sweep,-244.0,166.536452,139.747844,-77.497729,-381.701788,-1216.295764,-1560.383901,403.194575,2311.369355,...,-777.158410,-589.968005,-252.917672,555.262511,1389.900872,1435.910032,1126.764861,806.631795,507.813625,388.345717
195,sweep,80.0,261.908510,238.435175,66.392852,-202.024266,-542.008141,-842.294164,-899.715585,-1273.077438,...,-1037.350993,-1339.139359,-1330.121349,-1305.279004,-1270.815936,-1164.626291,-1014.056208,-822.594107,-594.935695,-388.431622