In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data/processed_data/all/all_data.csv')

In [3]:
df.tail()

,label,0,1,2,3,4,5,6,7,8,...,221,222,223,224,225,226,227,228,229,230
5021,clean,-1028.0,-916.704627,-610.439837,-561.416717,-627.761769,-676.358287,-638.753863,-574.164398,-573.689085,...,909.628672,798.164318,706.805182,527.251915,276.327388,2.464993,-271.629131,-288.288118,-2.218956,144.004115
5022,clean,-578.0,-669.049620,-739.090862,-832.047068,-989.769425,-1181.749527,-1296.840045,-1337.494047,-1375.011255,...,216.935894,34.597028,-217.318452,-397.861880,-399.547733,-312.299797,-208.604332,-94.204007,31.899513,172.141904
5023,clean,-1027.0,-988.735376,-908.168939,-803.056949,-691.552986,-596.681169,-541.164229,-532.329706,-556.722457,...,1496.152699,1271.087892,957.915751,730.540247,569.728582,588.733747,879.928605,1131.246374,1143.818481,1030.604015
5024,clean,-940.0,-822.362946,-693.979905,-587.430878,-531.871217,-530.424010,-565.888965,-603.265430,-631.439269,...,1201.984142,1282.798062,1277.762458,1169.295629,1017.110342,884.160513,812.327932,825.497685,918.044245,1035.749903
5025,clean,-739.0,-747.587111,-751.663115,-752.453705,-751.194630,-749.352869,-748.648344,-751.000000,-756.831675,...,306.108299,323.167381,335.768680,337.000000,324.190132,312.005096,309.932276,309.218993,305.291679,299.883048

In [4]:
df.shape[0]

5026

In [5]:
cols = ['label', 
            'sum_x', 'sum_y', 'sum_z', \
            'mean_x', 'mean_y', 'mean_z', \
            'std_x', 'std_y', 'std_z', \
            'cv_x', 'cv_y', 'cv_z', \
            'ptp_x', 'ptp_y', 'ptp_z', \
            'p10_x', 'p10_y', 'p10_z', \
            'p25_x', 'p25_y', 'p25_z', \
            'p50_x', 'p50_y', 'p50_z', \
            'p75_x', 'p75_y', 'p75_z', \
            'p90_x',' p90_y', 'p90_z', \
            'iq_x', 'iq_y', 'iq_z', \
            'lagone_autocor_x', 'lagone_autocor_y', 'lagone_autocor_z', \
            'sk_x', 'sk_y', 'sk_z', \
            'kurt_x', 'kurt_y', 'kurt_z', \
            'power_x', 'power_y', 'power_z', \
            'logpower_x', 'logpower_y', 'logpower_z', \
            'peak_x', 'peak_y', 'peak_z', \
            'cross0_x', 'cross0_y', 'cross0_z', \
            'cor_xy', 'cor_yz', 'cor_zx']

In [6]:
new_df = pd.DataFrame(columns=cols)

In [7]:
new_df

Empty DataFrame
Columns: [label, sum_x, sum_y, sum_z, mean_x, mean_y, mean_z, std_x, std_y, std_z, cv_x, cv_y, cv_z, ptp_x, ptp_y, ptp_z, p10_x, p10_y, p10_z, p25_x, p25_y, p25_z, p50_x, p50_y, p50_z, p75_x, p75_y, p75_z, p90_x,  p90_y, p90_z, iq_x, iq_y, iq_z, lagone_autocor_x, lagone_autocor_y, lagone_autocor_z, sk_x, sk_y, sk_z, kurt_x, kurt_y, kurt_z, power_x, power_y, power_z, logpower_x, logpower_y, logpower_z, peak_x, peak_y, peak_z, cross0_x, cross0_y, cross0_z, cor_xy, cor_yz, cor_zx]
Index: []

[0 rows x 58 columns]

In [12]:
for num in range(200):
    x = df.loc[num][1:78].astype(float)
    y = df.loc[num][78:155].astype(float)
    z = df.loc[num][155:232].astype(float)
    
    sum_x = sum(x)
    sum_y = sum(y)
    sum_z = sum(z)
        
    mean_x = np.mean(x)
    mean_y = np.mean(y)
    mean_z = np.mean(z)
        
    std_x = np.std(x)
    std_y = np.std(y)
    std_z = np.std(z)
        
    cv_x = std_x / mean_x
    cv_y = std_y / mean_y
    cv_z = std_z / mean_z

    ptp_x = np.ptp(x)
    ptp_y = np.ptp(y)
    ptp_z = np.ptp(z)

    p10_x = x[int(np.round(0.1*x.size))]
    p10_y = y[int(np.round(0.1*y.size))]
    p10_z = z[int(np.round(0.1*z.size))]

    p25_x = x[int(np.round(0.25*x.size))]
    p25_y = y[int(np.round(0.25*y.size))]
    p25_z = z[int(np.round(0.25*z.size))]

    p50_x = x[int(np.round(0.5*x.size))]
    p50_y = y[int(np.round(0.5*y.size))]
    p50_z = z[int(np.round(0.5*z.size))]

    p75_x = x[int(np.round(0.75*x.size))]
    p75_y = y[int(np.round(0.75*y.size))]
    p75_z = z[int(np.round(0.75*z.size))]

    p90_x = x[int(np.round(0.9*x.size))]
    p90_y = y[int(np.round(0.9*y.size))]
    p90_z = z[int(np.round(0.9*z.size))]

    iq_x = p75_x - p25_x
    iq_y = p75_y - p25_y
    iq_z = p75_z - p25_z

    fz_sum_x = 0.0
    fz_sum_y = 0.0
    fz_sum_z = 0.0       
    fm_sum_x = 0.0
    fm_sum_y = 0.0
    fm_sum_z = 0.0
    for i in range(x.size-1):
        fz_sum_x += (x[i]-mean_x) * (x[i+1]-mean_x)
        fz_sum_y += (y[i]-mean_y) * (y[i+1]-mean_y)
        fz_sum_z += (z[i]-mean_z) * (z[i+1]-mean_z)    
        fm_sum_x += (x[i]-mean_x) ** 2
        fm_sum_y += (y[i]-mean_y) ** 2
        fm_sum_z += (z[i]-mean_z) ** 2
    fm_sum_x += (x[x.size-1]-mean_x) ** 2
    fm_sum_y += (y[y.size-1]-mean_y) ** 2
    fm_sum_z += (z[z.size-1]-mean_z) ** 2
    lagone_autocor_x = fz_sum_x / fm_sum_x
    lagone_autocor_y = fz_sum_y / fm_sum_y
    lagone_autocor_z = fz_sum_z / fm_sum_z

    x2 = 0
    y2 = 0
    z2 = 0
    x3 = 0
    y3 = 0
    z3 = 0
    for i in range(x.size):
        x3 += (x[i]-mean_x) ** 3
        y3 += (y[i]-mean_y) ** 3
        z3 += (z[i]-mean_z) ** 3
        x2 += (x[i]-mean_x) ** 2
        y2 += (y[i]-mean_y) ** 2
        z2 += (z[i]-mean_z) ** 2           
    x2 = (x2 / x.size) ** 1.5
    y2 = (y2 / y.size) ** 1.5
    z2 = (z2 / z.size) ** 1.5
    sk_x = x3 / x.size / x2
    sk_y = y3 / y.size / y2
    sk_z = z3 / z.size / z2

    x2 = 0
    y2 = 0
    z2 = 0
    x4 = 0
    y4 = 0
    z4 = 0
    for i in range(x.size):
        x4 += (x[i]-mean_x) ** 4
        y4 += (y[i]-mean_y) ** 4
        z4 += (z[i]-mean_z) ** 4      
        x2 += (x[i]-mean_x) ** 2
        y2 += (y[i]-mean_y) ** 2
        z2 += (z[i]-mean_z) ** 2           
    x2 = (x2 / x.size) ** 3
    y2 = (y2 / y.size) ** 3
    z2 = (z2 / z.size) ** 3
    kurt_x = x4 / x.size / x2 - 3
    kurt_y = y4 / y.size / y2 - 3
    kurt_z = z4 / z.size / z2 - 3

    power_x = sum(x ** 2)
    power_y = sum(y ** 2)
    power_z = sum(z ** 2)
    
    rpls_x = np.where(x == 0, 10**-10, x) 
    rpls_y = np.where(y == 0, 10**-10, y)
    rpls_z = np.where(z == 0, 10**-10, z)
    logpower_x = sum(np.log(rpls_x ** 2))
    logpower_y = sum(np.log(rpls_y ** 2))
    logpower_z = sum(np.log(rpls_z ** 2))
    
    peak_x = 0
    peak_y = 0
    peak_z = 0
    for i in np.arange(1,x.size-1):
        if x[i-1] < x[i] and x[i] > x[i+1]:
            peak_x += 1
        if y[i-1] < y[i] and y[i] > y[i+1]:
            peak_y += 1
        if z[i-1] < z[i] and z[i] > z[i+1]:
            peak_z += 1

    regu_x = x - mean_x
    regu_y = y - mean_y
    regu_z = z - mean_z
    cross0_x = 0
    cross0_y = 0
    cross0_z = 0
    for i in range(x.size-1):
        if (regu_x[i] > 0 and regu_x[i+1] < 0) or (regu_x[i] < 0 and regu_x[i+1] > 0):
            cross0_x += 1
        if (regu_y[i] > 0 and regu_y[i+1] < 0) or (regu_y[i] < 0 and regu_y[i+1] > 0):
            cross0_y += 1
        if (regu_z[i] > 0 and regu_z[i+1] < 0) or (regu_z[i] < 0 and regu_z[i+1] > 0):
            cross0_z += 1
            
    cor_xy = np.corrcoef(np.array([x,y]))[0,1]
    cor_yz = np.corrcoef(np.array([y,z]))[0,1]
    cor_zx = np.corrcoef(np.array([z,x]))[0,1]
    
    label = df['label'][num]
    data = np.array([sum_x, sum_y, sum_z, \
                        mean_x, mean_y, mean_z, \
                        std_x, std_y, std_z, \
                        cv_x, cv_y, cv_z, \
                        ptp_x, ptp_y, ptp_z, \
                        p10_x, p10_y, p10_z, \
                        p25_x, p25_y, p25_z, \
                        p50_x, p50_y, p50_z, \
                        p75_x, p75_y, p75_z, \
                        p90_x, p90_y, p90_z, \
                        iq_x, iq_y, iq_z, \
                        lagone_autocor_x, lagone_autocor_y, lagone_autocor_z, \
                        sk_x, sk_y, sk_z, \
                        kurt_x, kurt_y, kurt_z, \
                        power_x, power_y, power_z, \
                        logpower_x, logpower_y, logpower_z, \
                        peak_x, peak_y, peak_z, \
                        cross0_x, cross0_y, cross0_z, \
                        cor_xy, cor_yz, cor_zx \
                        ]).reshape(57)
    len_new_df = len(new_df)
    new_df.loc[len_new_df, 'label'] = label
    new_df.loc[len_new_df, 1:] = data

In [13]:
new_df.tail()

,label,sum_x,sum_y,sum_z,mean_x,mean_y,mean_z,std_x,std_y,std_z,...,logpower_z,peak_x,peak_y,peak_z,cross0_x,cross0_y,cross0_z,cor_xy,cor_yz,cor_zx
395,bweep,-63021.3,4654.02,-47397.3,-818.458,60.4419,-615.55,114.334,200.731,136.675,...,984.635,10,10,10,8,13,14,0.0840389,0.0480958,-0.162345
396,bweep,-61780.3,4565.14,-49188.8,-802.342,59.2875,-638.815,125.651,180.627,144.69,...,990.668,7,7,10,4,10,7,0.298166,0.0485961,-0.160714
397,bweep,-58750.2,2380.32,-51810.7,-762.989,30.9133,-672.867,127.24,175.543,152.18,...,998.785,6,7,8,6,9,9,0.391109,0.115938,-0.21315
398,bweep,-61675.5,6373.7,-49813.8,-800.98,82.7753,-646.933,146.401,182.116,148.981,...,992.309,8,7,9,4,10,12,0.22239,-0.0860832,-0.28379
399,bweep,-61359.5,4722.56,-49228.7,-796.877,61.3319,-639.334,136.673,168.039,147.643,...,990.777,8,8,10,6,8,12,0.147824,0.0783314,-0.135503

In [14]:
df['label'][200]

'bweep'