### Feature extraction

In [1]:
import pandas as pd
import numpy as np

from sklearn import preprocessing

In [2]:
df = pd.read_csv('./data/all.csv')

In [3]:
df.head()

,x,y,z,class,seg,suspicious
0,20,781,-507,walk,walk/863137003295439_walk_L_2017-07-25 17-39-0...,False
1,40,797,-492,walk,walk/863137003295439_walk_L_2017-07-25 17-39-0...,False
2,59,807,-502,walk,walk/863137003295439_walk_L_2017-07-25 17-39-0...,False
3,75,807,-527,walk,walk/863137003295439_walk_L_2017-07-25 17-39-0...,False
4,107,806,-560,walk,walk/863137003295439_walk_L_2017-07-25 17-39-0...,False

In [4]:
segs = df.seg.unique()

In [5]:
segs

array([ 'walk/863137003295439_walk_L_2017-07-25 17-39-00_2017-07-25 17-49-00.csv-31-98',
       'walk/863137003295439_walk_L_2017-07-25 17-39-00_2017-07-25 17-49-00.csv-112-154',
       'walk/863137003295439_walk_L_2017-07-25 17-39-00_2017-07-25 17-49-00.csv-366-407',
       ..., 'clean/庆喜/repeat_82-duration_60.csv-1442-1488',
       'clean/庆喜/repeat_82-duration_60.csv-1498-1546',
       'clean/庆喜/repeat_82-duration_60.csv-1584-1628'], dtype=object)

In [6]:
seg = segs[0]

In [7]:
seg_df = df[df['seg'] ==seg][['x', 'y', 'z']]

In [8]:
seg_df.head()

     x    y    z
0   20  781 -507
1   40  797 -492
2   59  807 -502
3   75  807 -527
4  107  806 -560

In [9]:
seg_df.shape

(68, 3)

In [10]:
x = seg_df['x'].values
y = seg_df['y'].values
z = seg_df['z'].values

In [11]:
x

array([  20,   40,   59,   75,  107,  128,  143,  140,   74,   41,   30,
         62,   76,   77,   74,   64,   44,   14,   -5,   33,   56,   46,
        -41,  -65,  -63,  -52,  -58,  -68,  -73,  -75,  -92, -105, -114,
       -118, -119, -122, -126, -128, -126, -124, -119, -108, -106, -110,
       -119, -126, -126, -116,  -85,  -75,  -73,  -79,  -89,  -98,  -97,
        -91,  -88,  -88,  -87,  -78,  -75,  -76,  -80,  -84,  -92,  -95,
        -96,  -95], dtype=int64)

In [12]:
x = x.reshape(-1, 1).astype(float)

In [13]:
x.shape

(68, 1)

In [14]:
scaler = preprocessing.StandardScaler().fit(x)

In [15]:
scaler

StandardScaler(copy=True, with_mean=True, with_std=True)

In [16]:
scaler.mean_

array([-42.97058824])

In [17]:
scaler.scale_

array([ 78.91580968])

In [18]:
x = scaler.transform(x).reshape(x.shape[0])

In [19]:
x

array([ 0.79794643,  1.05138107,  1.29214398,  1.49489169,  1.90038712,
        2.16649349,  2.35656948,  2.31855428,  1.48221996,  1.0640528 ,
        0.92466375,  1.33015917,  1.50756342,  1.52023516,  1.48221996,
        1.35550264,  1.102068  ,  0.72191603,  0.48115312,  0.96267894,
        1.25412878,  1.12741146,  0.02497077, -0.2791508 , -0.25380734,
       -0.11441829, -0.19044868, -0.317166  , -0.38052466, -0.40586813,
       -0.62128757, -0.78602009, -0.90006568, -0.95075261, -0.96342434,
       -1.00143954, -1.05212646, -1.07746993, -1.05212646, -1.026783  ,
       -0.96342434, -0.82403529, -0.79869182, -0.84937875, -0.96342434,
       -1.05212646, -1.05212646, -0.92540914, -0.53258545, -0.40586813,
       -0.38052466, -0.45655505, -0.58327238, -0.69731796, -0.68464623,
       -0.60861584, -0.57060064, -0.57060064, -0.55792891, -0.44388332,
       -0.40586813, -0.41853986, -0.46922679, -0.51991371, -0.62128757,
       -0.65930277, -0.6719745 , -0.65930277])

In [90]:
x.mean()

-2.4490213778496099e-17

In [91]:
x.std()

1.0

In [81]:
label = seg.split('/')[0]

In [18]:
label

'walk'

In [19]:
sum_x = sum(x)
sum_y = sum(y)
sum_z = sum(z)

In [20]:
sum_x

-2942

In [21]:
mean_x = np.mean(x)
mean_y = np.mean(y)
mean_z = np.mean(z)

In [22]:
mean_x

-43.264705882352942

In [23]:
std_x = np.std(x)
std_y = np.std(y)
std_z = np.std(z)

In [24]:
std_x

78.717592332086426

In [25]:
cv_x = std_x / mean_x
cv_y = std_y / mean_y
cv_z = std_z / mean_z

In [26]:
cv_x

-1.8194412911563143

In [27]:
ptp_x = np.ptp(x)
ptp_y = np.ptp(y)
ptp_z = np.ptp(z)

In [28]:
ptp_x

271

In [29]:
int(np.round(6.4999999999999))

6

In [30]:
p10_x = x[int(np.round(0.1*x.size))]
p10_y = y[int(np.round(0.1*y.size))]
p10_z = z[int(np.round(0.1*z.size))]

p25_x = x[int(np.round(0.25*x.size))]
p25_y = y[int(np.round(0.25*y.size))]
p25_z = z[int(np.round(0.25*z.size))]

p50_x = x[int(np.round(0.5*x.size))]
p50_y = y[int(np.round(0.5*y.size))]
p50_z = z[int(np.round(0.5*z.size))]

p75_x = x[int(np.round(0.75*x.size))]
p75_y = y[int(np.round(0.75*y.size))]
p75_z = z[int(np.round(0.75*z.size))]

p90_x = x[int(np.round(0.9*x.size))]
p90_y = y[int(np.round(0.9*y.size))]
p90_z = z[int(np.round(0.9*z.size))]

In [31]:
p10_x

140

In [32]:
iq_x = p75_x - p25_x
iq_y = p75_y - p25_y
iq_z = p75_z - p25_z

In [33]:
iq_x

-93

In [34]:
fz_sum_x = 0.0
fz_sum_y = 0.0
fz_sum_z = 0.0

fm_sum_x = 0.0
fm_sum_y = 0.0
fm_sum_z = 0.0

for i in range(x.size-1):
    fz_sum_x += (x[i]-mean_x) * (x[i+1]-mean_x)
    fz_sum_y += (y[i]-mean_y) * (y[i+1]-mean_y)
    fz_sum_z += (z[i]-mean_z) * (z[i+1]-mean_z)
    
    fm_sum_x += (x[i]-mean_x) ** 2
    fm_sum_y += (y[i]-mean_y) ** 2
    fm_sum_z += (z[i]-mean_z) ** 2
fm_sum_x += (x[x.size-1]-mean_x) ** 2
fm_sum_y += (y[y.size-1]-mean_y) ** 2
fm_sum_z += (z[z.size-1]-mean_z) ** 2

lagone_autocor_x = fz_sum_x / fm_sum_x
lagone_autocor_y = fz_sum_y / fm_sum_y
lagone_autocor_z = fz_sum_z / fm_sum_z

In [35]:
lagone_autocor_x

0.96434707855453405

In [36]:
x2 = 0
y2 = 0
z2 = 0

x3 = 0
y3 = 0
z3 = 0

for i in range(x.size):
    x3 += (x[i]-mean_x) ** 3
    y3 += (y[i]-mean_y) ** 3
    z3 += (z[i]-mean_z) ** 3
    
    x2 += (x[i]-mean_x) ** 2
    y2 += (y[i]-mean_y) ** 2
    z2 += (z[i]-mean_z) ** 2
    
x2 = (x2 / x.size) ** 1.5
y2 = (y2 / y.size) ** 1.5
z2 = (z2 / z.size) ** 1.5

sk_x = x3 / x.size / x2
sk_y = y3 / y.size / y2
sk_z = z3 / z.size / z2

In [37]:
sk_x

0.8493824008188855

In [38]:
x2 = 0
y2 = 0
z2 = 0

x4 = 0
y4 = 0
z4 = 0

for i in range(x.size):
    x4 += (x[i]-mean_x) ** 4
    y4 += (y[i]-mean_y) ** 4
    z4 += (z[i]-mean_z) ** 4
    
    x2 += (x[i]-mean_x) ** 2
    y2 += (y[i]-mean_y) ** 2
    z2 += (z[i]-mean_z) ** 2
    
x2 = (x2 / x.size) ** 3
y2 = (y2 / y.size) ** 3
z2 = (z2 / z.size) ** 3

kurt_x = x4 / x.size / x2 - 3
kurt_y = y4 / y.size / y2 - 3
kurt_z = z4 / z.size / z2 - 3

In [39]:
kurt_y

-2.9982741573836398

In [40]:
power_x = sum(x ** 2)
power_y = sum(y ** 2)
power_z = sum(z ** 2)

In [41]:
power_x

548644

In [42]:
logpower_x = sum(np.log(x ** 2))
logpower_y = sum(np.log(y ** 2))
logpower_z = sum(np.log(z ** 2))

C:\Program1\2others\Anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

In [43]:
logpower_x

-inf

In [44]:
np.arange(1,x.size-1)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66])

In [45]:
peak_x = 0
peak_y = 0
peak_z = 0
for i in np.arange(1,x.size-1):
    if x[i-1] < x[i] and x[i] > x[i+1]:
        peak_x += 1
    if y[i-1] < y[i] and y[i] > y[i+1]:
        peak_y += 1
    if z[i-1] < z[i] and z[i] > z[i+1]:
        peak_z += 1

In [46]:
peak_z

8

In [47]:
regu_x = x - mean_x
regu_y = y - mean_y
regu_z = z - mean_z

cross0_x = 0
cross0_y = 0
cross0_z = 0

for i in range(x.size-1):
    if (regu_x[i] > 0 and regu_x[i+1] < 0) or (regu_x[i] < 0 and regu_x[i+1] > 0):
        cross0_x += 1
    if (regu_y[i] > 0 and regu_y[i+1] < 0) or (regu_y[i] < 0 and regu_y[i+1] > 0):
        cross0_y += 1
    if (regu_z[i] > 0 and regu_z[i+1] < 0) or (regu_z[i] < 0 and regu_z[i+1] > 0):
        cross0_z += 1

In [48]:
cross0_z

10

In [49]:
cor_xy = np.corrcoef(np.array([x,y]))[0,1]
cor_yz = np.corrcoef(np.array([y,z]))[0,1]
cor_zx = np.corrcoef(np.array([z,x]))[0,1]

In [50]:
cor_yz

0.55847904816906779

In [51]:
 cols = ['label', 
            'sum_x', 'sum_y', 'sum_z', \
            'mean_x', 'mean_y', 'mean_z', \
            'std_x', 'std_y', 'std_z', \
            'cv_x', 'cv_y', 'cv_z', \
            'ptp_x', 'ptp_y', 'ptp_z', \
            'p10_x', 'p10_y', 'p10_z', \
            'p25_x', 'p25_y', 'p25_z', \
            'p50_x', 'p50_y', 'p50_z', \
            'p75_x', 'p75_y', 'p75_z', \
            'p90_x',' p90_y', 'p90_z', \
            'iq_x', 'iq_y', 'iq_z', \
            'lagone_autocor_x', 'lagone_autocor_y', 'lagone_autocor_z', \
            'sk_x', 'sk_y', 'sk_z', \
            'kurt_x', 'kurt_y', 'kurt_z', \
            'power_x', 'power_y', 'power_z', \
            'logpower_x', 'logpower_y', 'logpower_z', \
            'peak_x', 'peak_y', 'peak_z', \
            'cross0_x', 'cross0_y', 'cross0_z', \
            'cor_xy', 'cor_yz', 'cor_zx']
new_df = pd.DataFrame(columns=cols)

In [52]:
new_df

Empty DataFrame
Columns: [label, sum_x, sum_y, sum_z, mean_x, mean_y, mean_z, std_x, std_y, std_z, cv_x, cv_y, cv_z, ptp_x, ptp_y, ptp_z, p10_x, p10_y, p10_z, p25_x, p25_y, p25_z, p50_x, p50_y, p50_z, p75_x, p75_y, p75_z, p90_x,  p90_y, p90_z, iq_x, iq_y, iq_z, lagone_autocor_x, lagone_autocor_y, lagone_autocor_z, sk_x, sk_y, sk_z, kurt_x, kurt_y, kurt_z, power_x, power_y, power_z, logpower_x, logpower_y, logpower_z, peak_x, peak_y, peak_z, cross0_x, cross0_y, cross0_z, cor_xy, cor_yz, cor_zx]
Index: []

[0 rows x 58 columns]