In [1]:
import sys  
sys.path.append('../') 

import pandas as pd
import numpy as np

from resample.resample import resample
from feature.feature import feature_extraction
from feature.feature import feature_normalization

In [2]:
df = pd.read_csv('../data/all.csv')

In [3]:
df.tail()

,x,y,z,class,seg,suspicious
266550,-941,174,337,clean,clean/庆喜/repeat_82-duration_60.csv-1584-1628,False
266551,-942,173,314,clean,clean/庆喜/repeat_82-duration_60.csv-1584-1628,False
266552,-916,158,310,clean,clean/庆喜/repeat_82-duration_60.csv-1584-1628,False
266553,-898,145,304,clean,clean/庆喜/repeat_82-duration_60.csv-1584-1628,False
266554,-891,132,295,clean,clean/庆喜/repeat_82-duration_60.csv-1584-1628,False

In [5]:
# new_df = resample(df)
# new_df.to_csv('./data/processed_data/all/resample_to_50_per_act/resample_to_50.csv', encoding='utf-8', index=False)
new_df = pd.read_csv('../data/processed_data/all/resample_to_50_per_act/resample_to_50.csv')

In [6]:
new_df.tail()

,x,y,z,class,seg,suspicious
251295,-928.094685,163.788475,337.651526,clean,clean/庆喜/repeat_82-duration_60.csv-1584-1628,False
251296,-946.717057,177.251312,326.688697,clean,clean/庆喜/repeat_82-duration_60.csv-1584-1628,False
251297,-933.746906,167.946609,310.380039,clean,clean/庆喜/repeat_82-duration_60.csv-1584-1628,False
251298,-910.344399,154.584634,309.409075,clean,clean/庆喜/repeat_82-duration_60.csv-1584-1628,False
251299,-896.701663,143.548819,302.866383,clean,clean/庆喜/repeat_82-duration_60.csv-1584-1628,False

In [7]:
segs = new_df.seg.unique()

In [8]:
seg = segs[0]

In [9]:
seg_df = new_df[new_df['seg'] ==seg]

In [10]:
x = seg_df['x'].values
y = seg_df['y'].values
z = seg_df['z'].values

In [11]:
type(x[0])

numpy.float64

In [12]:
x

array([  20.        ,   47.14968151,   68.46329185,  107.58660707,
        133.49236672,  147.62733917,   71.71998123,   33.0372632 ,
         52.28349815,   76.22541825,   76.35212133,   67.47723417,
         41.93167471,    0.68156118,   22.6765374 ,   57.46498051,
          9.44596952,  -64.34866768,  -61.76577109,  -52.82310927,
        -66.24599366,  -73.02031018,  -82.15698355, -103.08656079,
       -114.99693488, -118.50984252, -121.38199954, -126.6136776 ,
       -127.20777036, -124.30457733, -116.89315008, -105.75894729,
       -109.21432913, -120.99199563, -126.69744644, -118.22032523,
        -80.3957489 ,  -73.17596716,  -78.30044491,  -91.83267834,
        -98.52228587,  -91.31922282,  -87.7657692 ,  -88.27723269,
        -78.30693049,  -74.97583757,  -78.52530004,  -83.87144962,
        -93.56083531,  -95.78632902])

In [13]:
label = seg.split('/')[0]

In [14]:
label

'walk'

In [15]:
features = feature_extraction(x,y,z)

In [16]:
type(features[0])

numpy.float64

In [17]:
features

array([ -2.09523890e+03,   4.06660331e+04,  -2.68396925e+04,
        -4.19047780e+01,   8.13320661e+02,  -5.36793851e+02,
         7.91562750e+01,   4.13127577e+01,   5.30131195e+01,
        -1.88895584e+00,   5.07951656e-02,  -9.87588056e-02,
         2.74835110e+02,   1.89727368e+02,   2.34013056e+02,
         1.47627339e+02,   8.89703116e+02,  -5.33542397e+02,
         4.19316747e+01,   7.60381869e+02,  -5.40862681e+02,
        -1.18509843e+02,   8.38010575e+02,  -5.59661231e+02,
        -7.83004449e+01,   8.65935422e+02,  -4.66638555e+02,
        -7.49758376e+01,   8.53790385e+02,  -4.81685271e+02,
        -1.20232120e+02,   1.05553553e+02,   7.42241267e+01,
         9.45851814e-01,   7.24111149e-01,   7.90261085e-01,
         8.03860335e-01,  -5.93645021e-01,  -7.03575274e-01,
        -2.99963638e+00,  -2.99839486e+00,  -2.99890101e+00,
         4.01086315e+05,   3.31598621e+07,   1.45479014e+07,
         4.24699502e+02,   6.69980458e+02,   6.28089854e+02,
         8.00000000e+00,   1.10000000e+01,   1.00000000e+01,
         1.00000000e+00,   1.10000000e+01,   1.00000000e+01,
         1.02645406e-02,   5.76464268e-01,  -2.10651701e-01])

### SWEMMEMBERTRAIN(T, L)

In [61]:
L = np.arange(10, 51, 10)

In [62]:
L

array([10, 20, 30, 40, 50])

In [63]:
seg_length = 50
slidew_size = 10

In [58]:
M = []

In [59]:
cols = ['label', 
        'sum_x', 'sum_y', 'sum_z', \
        'mean_x', 'mean_y', 'mean_z', \
        'std_x', 'std_y', 'std_z', \
        'cv_x', 'cv_y', 'cv_z', \
        'ptp_x', 'ptp_y', 'ptp_z', \
        'p10_x', 'p10_y', 'p10_z', \
        'p25_x', 'p25_y', 'p25_z', \
        'p50_x', 'p50_y', 'p50_z', \
        'p75_x', 'p75_y', 'p75_z', \
        'p90_x',' p90_y', 'p90_z', \
        'iq_x', 'iq_y', 'iq_z', \
        'lagone_autocor_x', 'lagone_autocor_y', 'lagone_autocor_z', \
        'sk_x', 'sk_y', 'sk_z', \
        'kurt_x', 'kurt_y', 'kurt_z', \
        'power_x', 'power_y', 'power_z', \
        'logpower_x', 'logpower_y', 'logpower_z', \
        'peak_x', 'peak_y', 'peak_z', \
        'cross0_x', 'cross0_y', 'cross0_z', \
        'cor_xy', 'cor_yz', 'cor_zx']

In [60]:
for l in L:
    training_data = pd.DataFrame(columns=cols)
    segs = new_df.seg.unique()[:50]
    for seg in segs:
        seg_df = new_df[new_df['seg'] == seg]
        label = seg.split('/')[0]
        for s in np.arange(0, seg_length-l+1, slidew_size):
            x = seg_df['x'].values[s:s+l]
            y = seg_df['y'].values[s:s+l]
            z = seg_df['z'].values[s:s+l]
            features = feature_extraction(x,y,z)
            len_training_data = len(training_data)
            training_data.loc[len_training_data, 'label'] = label
            training_data.loc[len_training_data, 1:] = features
            
    X = np.array(training_data.drop('label',axis=1))
    norm_X = feature_normalization(X)
    for ind in range(norm_X.shape[1]):
        training_data.iloc[:,ind+1] = norm_X[:,ind]

    M.append(training_data)

In [42]:
M[0].tail()

,label,sum_x,sum_y,sum_z,mean_x,mean_y,mean_z,std_x,std_y,std_z,...,logpower_z,peak_x,peak_y,peak_z,cross0_x,cross0_y,cross0_z,cor_xy,cor_yz,cor_zx
495,walk,-0.049496,-0.903100,-0.243918,-0.049496,-0.903100,-0.243918,-0.201671,0.237897,0.022896,...,0.432139,0.704128,-1.023623,0.493377,-0.739667,0.772207,-0.793329,-0.058042,0.953295,0.337131
496,walk,0.012660,-0.296968,0.669287,0.012660,-0.296968,0.669287,-0.616675,0.532226,0.689505,...,-1.057355,0.704128,0.648964,0.493377,0.882410,0.772207,0.528886,-1.546038,0.969848,-0.954704
497,walk,0.073816,0.290645,0.833092,0.073816,0.290645,0.833092,-0.253286,-0.856682,-0.829399,...,-1.884764,0.704128,0.648964,2.230619,-0.739667,2.304365,0.528886,0.692306,0.031845,0.670617
498,walk,0.622307,0.223362,0.324027,0.622307,0.223362,0.324027,-0.034853,0.028829,-0.484087,...,-0.237006,0.704128,-1.023623,0.493377,-0.739667,-0.759950,1.851101,1.016985,0.801051,1.240275
499,walk,0.126444,-0.764884,-0.510143,0.126444,-0.764884,-0.510143,0.572638,-0.474632,-1.097898,...,0.761551,0.704128,-1.023623,0.493377,-0.739667,-0.759950,1.851101,1.268361,0.538786,1.315167